{% extends "base/index.html" %}

{% block content %}
<div class="container caja_texto">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <input type="search" name="busca_individuos" id="busca_individuos" placeholder="Buscar...">
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button id="searchButton" type="submit">Search</button>
            </div>
        </div>
    </form> 
        {% if data %}
        {% for item in data.items %}
        <div class="row persona_container">
            <div class="col-1 persona_ico">
                <img src="{{ item.avatar_url }}" alt="{{ item.login }}" class="persona_ico">
            </div>
            <div class="col persona_info">
                <div>
                    <p>{{ item.login }}</p>
                    <p><a href="{{ item.html_url }}">{{ item.html_url }}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p style="display: flex;justify-content: center;align-items: center;">{{error}}</p>
        {% endif %}
</div>


{% endblock %}